.container {
  width: 500px;
  margin: auto;
  padding: 50px 0;
  text-align: center;
}

input {
  width: 200px;
  padding: 0 20px;
  background: #E9EFF6;
  line-height: 40px;
  border-width: 0;
  border-radius: 20px;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(11, 120, 236, 0.5);
  color: #0b78ec;
  outline: none;
}

p {
  color: #A9A9A9;
  font-family: sans-serif;
}